.posts{
	list-style-type: none;
	margin: 0;
}

.post{
	margin: 1rem 0;
	a{
		background: #F4F4F4;
		color: #000000;
		display: block;
		padding: 1rem;
		text-decoration: none;
	}
	a:hover{
		background: #E4E4E4;
	}
	h2{
		margin-bottom: 0;
	}
	p{
		color: #777777;
		font-size: .8rem;
		font-style: italic;
	}
}
